.axis text {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
  }

  .dot {
    fill: black;
    stroke: black;
    stroke-width: 1.5px;
  }

  .datos {
    background-color: lightblue;
    width: 500px;
    padding: 15px;
    margin-top: 25px;
    border-radius: 10px;
  }